doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width")
		title body
		link(rel='stylesheet', type='text/css', href='css/all.css')
	body
		header
			h1 Listado de Peliculas
		block content
		script(src="js/vendor/jquery-1.10.1.min.js")
		script(src="js/main.js")