extends header

block content
	.listado
		ul
			li
				.title Testing
				.columns
					.col
						.image
							img(src="http://www.yaske.to/upload/images/thumb3-el_lobo_de_wall_street-675195906-large-1389117736.jpg")

					.col
						ul
							li
								span.tx1 Genero:
							li.genero
								|Accion

							li
								span.tx1 Idiomas:

							li.idioma
								span.bandera
									img(src="http://www.yaske.to/theme/01/data/images/flags/en_es.png")
