extends header

block title
	|Inicio

	
block h1
	|Listado de Peliculas

block js
	script
		$(document).on('ready',Seccion.inicio);

block content
	.listado
		ul
			li(style="display:none")
				.title Testing
				a.image
					img(src="")
					.play.icon-play
				.data
					ul
						li 
							span.tx1 Genero
							span.genero Accion

						li 
							span.tx1 Idioma
							span.idioma
								span.bandera
									img(src="")
						li
							span.tx1 Calidad
							span.calidad DVDRIP
