.listado
	>ul
		margin 0
		padding 0
		list-style none
		>li
			padding 0
			margin 0
			width 98%
			margin 10px auto
			clearfix()

			.title
				background #20A3A3
				font-size 2em
				color #fff
				padding 5px 10px

			.columns
				clearfix()	
			.col
				width 50%
				float left
				
				.image
					padding 5px
					border 1px solid #f1f1f1
					img
						width 100%
				>ul
					list-style none

					li
						margin 10px 0
						padding 0
						font-size 1.6em

						span
							display inline-block
							
						&.genero,&.idioma
							padding-left 10px