/* import header */
@import 'header'

/* Import Fonts.styl*/
@import 'Fonts'
/* Reset */

h1,h2,h3,h4,h5,h6,ul,li,p
	margin 0
	padding 0

/* General */
*,*:before,*:after
	box-sizing border-box
	
html,body
	min-height 100% !important
	
body
	margin 0
	color #fff
	background #000
	font-size 62.5%
	font-family 'Arial'
	position static

.style-inline
	display inline-block
	vertical-align middle

