header
	background #000 url('../img/carbon_fibre.png') repeat
	text-align center
	color #fff
	padding 20px 0
	font-family Raleway
	box-shadow 0 5px 9px #303030
	h1
		font-weight 300
		letter-spacing 0
		font-size 3em
